### O intuito desse notebook é mesclar os dados dos bancos de dados iemocap e meld e tentar conseguir melhores resultados

#### Vamos carregar os dados e verificar como eles estão definidos para podermos junta-los

In [85]:
import pandas as pd

In [86]:
iemocapData = pd.read_csv("dataIemocap")
iemocapTarget = pd.read_csv("targetIemocap")

In [87]:
iemocapData

,Session_ID,Time_Record,Transcription
0,Ses01F_impro01_F000,[006.2901-008.2357]:,Excuse me.
1,Ses01F_impro01_M000,[007.5712-010.4750]:,Do you have your forms?
2,Ses01F_impro01_F001,[010.0100-011.3925]:,Yeah.
3,Ses01F_impro01_M001,[010.9266-014.6649]:,Let me see them.
4,Ses01F_impro01_F002,[014.8872-018.0175]:,Is there a problem?
...,...,...,...
10234,Ses05M_script03_2_M044,[255.8600-260.3300]:,oh! Marry you again? I wouldn't marry you agai...
10235,Ses05M_script03_2_F042,[259.4500-260.4100]:,Beast
10236,Ses05M_script03_2_M045,[260.3400-266.3500]:,You're a wicked little vampire. And I pray to...
10237,Ses05M_script03_2_F043,[260.4200-261.4300]:,Brute
10238,Ses05M_script03_2_F044,[261.9100-263.0700]:,pig

In [88]:
iemocapTarget

                   Session_ID Emotion  Valence  Activation  Dominance
0         Ses01F_impro01_F000     neu      2.5         2.5        2.5
1         Ses01F_impro01_F001     neu      2.5         2.5        2.5
2         Ses01F_impro01_F002     neu      2.5         2.5        2.5
3         Ses01F_impro01_F003     xxx      2.5         3.0        3.0
4         Ses01F_impro01_F004     xxx      2.5         3.0        2.5
...                       ...     ...      ...         ...        ...
10034  Ses05M_script03_2_M041     ang      1.0         4.5        5.0
10035  Ses05M_script03_2_M042     ang      1.0         4.5        4.5
10036  Ses05M_script03_2_M043     ang      1.5         4.0        4.5
10037  Ses05M_script03_2_M044     ang      1.0         5.0        5.0
10038  Ses05M_script03_2_M045     ang      1.0         5.0        5.0

[10039 rows x 5 columns]

#### Vamos juntar todos os dados para termos uma representação em uma unica tabela dos dados do iemocap

In [89]:
mergedIemocap = pd.merge(iemocapData,iemocapTarget,on = "Session_ID")

In [90]:
mergedIemocap

,Session_ID,Time_Record,Transcription,Emotion,Valence,Activation,Dominance
0,Ses01F_impro01_F000,[006.2901-008.2357]:,Excuse me.,neu,2.5,2.5,2.5
1,Ses01F_impro01_M000,[007.5712-010.4750]:,Do you have your forms?,fru,2.5,2.0,2.5
2,Ses01F_impro01_F001,[010.0100-011.3925]:,Yeah.,neu,2.5,2.5,2.5
3,Ses01F_impro01_M001,[010.9266-014.6649]:,Let me see them.,fru,2.5,2.0,2.5
4,Ses01F_impro01_F002,[014.8872-018.0175]:,Is there a problem?,neu,2.5,2.5,2.5
...,...,...,...,...,...,...,...
10034,Ses05M_script03_2_M044,[255.8600-260.3300]:,oh! Marry you again? I wouldn't marry you agai...,ang,1.0,5.0,5.0
10035,Ses05M_script03_2_F042,[259.4500-260.4100]:,Beast,ang,2.0,4.5,4.5
10036,Ses05M_script03_2_M045,[260.3400-266.3500]:,You're a wicked little vampire. And I pray to...,ang,1.0,5.0,5.0
10037,Ses05M_script03_2_F043,[260.4200-261.4300]:,Brute,ang,1.5,4.5,5.0
10038,Ses05M_script03_2_F044,[261.9100-263.0700]:,pig,ang,1.0,4.5,5.0

##  Vamos agora carregar os dados do meld

In [91]:
meld = pd.read_csv("dataMeld")

In [92]:
meld

,Session_ID,Time_Record,Transcription,Emotion,Sentiment
0,Sess4_E7_ID1,"[00:20:57,256-00:21:00,049]:","Oh my God, he's lost it. He's totally lost it.",sadness,negative
1,Sess4_E7_ID2,"[00:21:01,927-00:21:03,261]:",What?,surprise,negative
2,Sess4_E4_ID3,"[00:12:24,660-00:12:30,915]:","Or! Or, we could go to the bank, close our acc...",neutral,neutral
3,Sess4_E4_ID4,"[00:12:32,334-00:12:33,960]:",You're a genius!,joy,positive
4,Sess4_E4_ID5,"[00:12:34,211-00:12:37,505]:","Aww, man, now we won't be bank buddies!",sadness,negative
...,...,...,...,...,...
13703,Sess2_E3_ID13704,"[00:00:48,173-00:00:50,799]:",You or me?,neutral,neutral
13704,Sess2_E3_ID13705,"[00:00:51,009-00:00:53,594]:","I got it. Uh, Joey, women don't have Adam's ap...",neutral,neutral
13705,Sess2_E3_ID13706,"[00:01:00,518-00:01:03,520]:","You guys are messing with me, right?",surprise,positive
13706,Sess2_E3_ID13707,"[00:01:05,398-00:01:07,274]:",Yeah.,neutral,neutral
13707,Sess2_E3_ID13708,"[00:01:08,401-00:01:12,071]:","That was a good one. For a second there, I was...",joy,positive

### Como temos dois datasets vamos tentar junta-los em um único dataset grande.

#### Vamos ver como está a distribuição das emoções para podermos pegar aqueles que tem emoções em comun.

In [93]:
meld.groupby("Emotion").count()

          Session_ID  Time_Record  Transcription  Sentiment
Emotion
anger           1607         1607           1607       1607
disgust          361          361            361        361
fear             358          358            358        358
joy             2308         2308           2308       2308
neutral         6436         6436           6436       6436
sadness         1002         1002           1002       1002
surprise        1636         1636           1636       1636

In [94]:
mergedIemocap.groupby("Emotion").count()

,Session_ID,Time_Record,Transcription,Valence,Activation,Dominance
Emotion,,,,,,
ang,1103,1103,1103,1103,1103,1103
dis,2,2,2,2,2,2
exc,1041,1041,1041,1041,1041,1041
fea,40,40,40,40,40,40
fru,1849,1849,1849,1849,1849,1849
hap,595,595,595,595,595,595
neu,1708,1708,1708,1708,1708,1708
oth,3,3,3,3,3,3
sad,1084,1084,1084,1084,1084,1084
sur,107,107,107,107,107,107
xxx,2507,2507,2507,2507,2507,2507

####  temos que anger = ang, disgust = dis, fear = fea, joy = hap, neutral = neu, sadness = sad, surprise = sur. Vamos juntar essas infromações.

#### Vamos deixar pradronizado os valores das emoções do meld pelo do iemocap.

In [95]:
def normalizeEmotion(text):
    dici = {"anger":"ang","disgust":"dis","fear":"fea","joy":"hap","neutral":"neu","sadness":"sad","surprise":"sur"}
    return dici[text]

In [96]:
meld["Emotion"] = meld["Emotion"].apply(normalizeEmotion)

In [97]:
mergedIemocapMeld = pd.DataFrame()

In [98]:
mergedIemocapMeld[["Transcription","Emotion"]] = mergedIemocap[["Transcription","Emotion"]]

In [99]:
mergedIemocapMeld.shape

(10039, 2)

In [100]:
mergedIemocapMeld = mergedIemocapMeld[["Transcription","Emotion"]].append(meld[["Transcription","Emotion"]], ignore_index=True)

In [101]:
mergedIemocapMeld

                                           Transcription Emotion
0                                             Excuse me.     neu
1                                Do you have your forms?     fru
2                                                  Yeah.     neu
3                                       Let me see them.     fru
4                                    Is there a problem?     neu
...                                                  ...     ...
23742                                         You or me?     neu
23743  I got it. Uh, Joey, women don't have Adam's ap...     neu
23744               You guys are messing with me, right?     sur
23745                                              Yeah.     neu
23746  That was a good one. For a second there, I was...     hap

[23747 rows x 2 columns]

In [104]:
mergedIemocapMeld.to_csv("MeldIemocapDataSet.csv")

In [108]:
mergedIemocapMeld.groupby("Emotion").count()

         Transcription
Emotion
ang               2710
dis                363
exc               1041
fea                398
fru               1849
hap               2903
neu               8144
oth                  3
sad               2086
sur               1743
xxx               2507